<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080132068685-gkts4f9fjmr4juacffmv1ndqusb423in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080132068685-gkts4f9fjmr4juacffmv1ndqusb423in</string>
	<key>API_KEY</key>
	<string>AIzaSyDKV7z25QPRpTjRt2f_GhmqoadiEKoeNIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1080132068685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ordozgoite.RU-EST</string>
	<key>PROJECT_ID</key>
	<string>ru-est</string>
	<key>STORAGE_BUCKET</key>
	<string>ru-est.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080132068685:ios:944dd4ef47206934e04304</string>
</dict>
</plist>